docs/node_modules
docs/.cache
docs/public

apidocs/_site
apidocs/obj

deploy/**

.idea
.vscode
.vs/
.aws-sam

node_modules/*

examples/SimpleLambda/.aws-sam
examples/SimpleLambda/samconfig.toml

AWS.Lambda.Powertools.sln.DotSettings.user
[Oo]bj/**
[Bb]in/**
.DS_Store

dist/
site/
samconfig.toml