docs/node_modules
docs/.cache
docs/public

.idea
.vscode
.vs/

examples/SimpleLambda/.aws-sam
examples/SimpleLambda/samconfig.toml

AWS.Lambda.Powertools.sln.DotSettings.user
[Oo]bj/**
[Bb]in/**
.DS_Store
