site_name: Powertools for AWS Lambda (.NET)
site_description: Powertools for AWS Lambda (.NET)
site_author: Amazon Web Services
repo_url: https://github.com/aws-powertools/powertools-lambda-dotnet
edit_uri: edit/develop/docs

nav:
  - Homepage: index.md
  - References: references.md
  - Changelog: changelog.md
  - Roadmap: roadmap.md
  - API Reference: api/" target="_blank
  - We Made This (Community): we_made_this.md
  - Core utilities:
      - core/logging.md
      - core/metrics.md
      - core/tracing.md
  - Utilities:
      - utilities/parameters.md
      - utilities/idempotency.md
      - utilities/batch-processing.md

theme:
  name: material
  font:
    text: Ubuntu
  palette:  
    - scheme: default
      primary: blue
      accent: deep blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: deep blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - header.autohide
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.instant
    - navigation.indexes
    - navigation.tracking
    - content.code.annotate
    - toc.follow
    - toc.integrate
    - announce.dismiss
  icon:
    repo: fontawesome/brands/github
  logo: media/aws-logo-light.svg
  favicon: media/aws-logo-light.svg
  custom_dir: docs/overrides

markdown_extensions:
  - admonition
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      linenums: true
  - pymdownx.details
  - pymdownx.snippets:
      base_path: "."
      check_paths: True
  - meta
  - toc:
      permalink: true
      toc_depth: 4
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

copyright: Copyright &copy; 2023 Amazon Web Services

plugins:
  - git-revision-date
  - search

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascript/aws-amplify.min.js
  - javascript/extra.js

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/aws-powertools/powertools-lambda-dotnet
    - icon: fontawesome/brands/discord
      link: https://discord.gg/B8zZKbbyET
      name: Join our Discord Server!
