name: Build .NET

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]

defaults:
  run:
    working-directory: ./libraries

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET 6.0 &  8.0
        uses: actions/setup-dotnet@607fce577a46308457984d59e4954e075820f10a
        with:
          dotnet-version: |
            6.0.405
            8.0.101
      - name: Build
        run: dotnet build --configuration Release
      - name: Test Examples
        run: dotnet test ../examples/
      - name: Test & Code Coverage
        run: dotnet test --collect:"XPlat Code Coverage" --results-directory ../../codecov --verbosity normal
      - name: Codecov
        uses: codecov/codecov-action@81cd2dc8148241f03f5839d295e000b8f761e378 # 3.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: true
          name: codecov-lambda-powertools-dotnet
          verbose: true
          directory: ./libraries/codecov
