# PROCESS
#
# 1. Deploy the core and AOT stacks using the infra deployment workflow.
# 2. Run the E2E tests after the infrastructure is deployed.
# 3. Destroy the CDK stacks after the tests are completed.

# USAGE
#
# This workflow is triggered on push to the develop branch or manually via workflow_dispatch.

name: E2E Tests

on:
  workflow_dispatch:
  push:
    branches:
      - develop

permissions:
  id-token: write
  contents: read

jobs:
  deploy-stack:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.E2E_DEPLOY_ROLE }}
          aws-region: us-east-1
          mask-aws-account-id: true

      - name: Set up .NET
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3
        with:
          dotnet-version: '8.x'

      - name: Install CDK
        run: npm install -g aws-cdk

      - name: Install AWS Lambda .NET CLI Tools
        run: dotnet tool install -g Amazon.Lambda.Tools

      - name: Deploy Core Stack
        run: |
          cd libraries/tests/e2e/infra
          cdk deploy --require-approval never

  deploy-aot-stack:
    strategy:
      matrix:
        os: [ubuntu-24.04-arm, ubuntu-latest]
        include:
          - os: ubuntu-24.04-arm
            arch: arm64
          - os: ubuntu-latest
            arch: x86_64
    runs-on: ${{ matrix.arch }}
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.E2E_DEPLOY_ROLE }}
          aws-region: us-east-1

      - name: Set up .NET
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3
        with:
          dotnet-version: '8.x'

      - name: Install CDK
        run: npm install -g aws-cdk

      - name: Install AWS Lambda .NET CLI Tools
        run: dotnet tool install -g Amazon.Lambda.Tools

      - name: Deploy AOT Stack
        run: |
          cd libraries/tests/e2e/infra-aot
          cdk deploy -c architecture={{ matrix.arch }} --require-approval never

  run-tests:
    runs-on: ubuntu-latest
    needs: [deploy-stack,deploy-aot-stack]
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.E2E_DEPLOY_ROLE }}
          aws-region: us-east-1
          mask-aws-account-id: true
          
      - name: Set up .NET
        uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3
        with:
          dotnet-version: '8.x'

      - name: Run Core Tests
        run: |
          cd libraries/tests/e2e/functions/core
          dotnet test --filter Category!=AOT
          
      - name: Run Core AOT Tests
        run: |
          cd libraries/tests/e2e/functions/core
          dotnet test --filter Category=AOT

  destroy-stack:
    runs-on: ubuntu-latest
    needs: run-tests
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.E2E_DEPLOY_ROLE }}
          aws-region: us-east-1
          mask-aws-account-id: true

      - name: Install CDK
        run: npm install -g aws-cdk
        
      - name: Install AWS Lambda .NET CLI Tools
        run: dotnet tool install -g Amazon.Lambda.Tools

      - name: Destroy Core Stack
        run: |
          cd libraries/tests/e2e/infra
          cdk destroy --force
          
      - name: Destroy AOT Core Stack
        run: |
          cd libraries/tests/e2e/infra-aot
          cdk destroy -c architecture=x86_64 --force
